@tailwind base;
@tailwind components;
@tailwind utilities;

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px; /* Adjust the width as needed */
    display: inline-block;
    vertical-align: middle;
}

.ellipsissm {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100px; /* Adjust the width as needed */
    display: inline-block;
    vertical-align: middle;
}

